.MingMapP {
  font-family: RightGrotesk-CompactBlack;
  font-size: 44px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;
}
.a {
  display: block;
  width: 216px;
  height: 242px;
}
.sliderContainer {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  width: 216px;
  -webkit-tap-highlight-color: transparent;
}

.divSlaider {
  position: relative;
  height: 242px;
  background-color: var(--text-color);
  border-radius: 12px;
}
.divSlaiderFinal {
  position: relative;
  height: 242px;
  background-color: var(--main-color);
  border-radius: 12px;
}

.divSlaiderText {
  padding: 24px 12px 0 12px;
  font-family: MessinaSansMono-Book;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.divSlaiderTitle {
  position: absolute;
  bottom: 24px;
  color: var(--white-color);
  left: 12px;
  right: 12px;
  font-family: RightGrotesk-CompactBlack;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
}

.buttonNextPrev {
  color: var(--white-color);
  font-family: BiroScriptPlus-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.divSlaiderSvg {
  width: 24px;
  position: fixed;
  fill: var(--white-color);
  height: 24px;
  top: 24px;
  right: 24px;
}

@media screen and (min-width: 768px) {
  .a {
    width: 284px;
  height: 242px;
  }
  .MingMapP {
    font-family: RightGrotesk-CompactBlack;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    padding-bottom: 40px;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .divSlaider {
    border-radius: 16px;
  }
  .divSlaiderFinal {
    border-radius: 16px;
  }
  .divSlaiderText {
    padding: 24px 24px 36px 132px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    width: 128px;
    text-align: left;
  }
  .divSlaiderTitle {
    left: 24px;
    right: 12px;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
  }
  .divSlaiderSvg {
    position: absolute;
  }
}

@media screen and (min-width: 1280px) {
  .a{
    width: 504px;
    height: 480px;
  }
  .MingMapP {
    font-family: RightGrotesk-CompactBlack;
    font-size: 160px;
    font-weight: 900;
    line-height: 160px;
    padding-bottom: 80px;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .divSlaider {
    border-radius: 24px;
    height: 480px;
  }
  .divSlaiderFinal {
    border-radius: 24px;
    height: 480px;
  }
  .divSlaiderText {
    padding: 24px 24px 107px 252px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 228px;
    text-align: left;
  }
  .divSlaiderTitle {
    left: 24px;
    right: 12px;
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
    text-align: left;
  }
  .divSlaiderSvg {
    position: absolute;
  }
}
