.divFAQ {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleFAQ {
  font-family: RightGrotesk-CompactBlack;
  font-size: 44px;
  font-weight: 900;
  line-height: 40px;
  color: var(--white-color);
  text-align: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {

  .titleFAQ {
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1280px) {

  .titleFAQ {
    font-size: 160px;
    font-weight: 900;
    line-height: 160px;
    padding-bottom: 80px;
  }
}
