.div {
    z-index: 10;
    position: relative;
}

.meetBut {
    padding: 10px 74px;
    font-family: RightGrotesk-CompactBlack;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    color: var(--text-color);
    background-color: rgba(30, 30, 30, 0.1);
}

.meetBut:hover {
    color: var(--white-color);
}
