.divCardFAQ {
  cursor: pointer;
  display: flex;
  gap: 8px;
  background-color: var(--text-color);
  padding: 8px;
  border-radius: 12px;
}

.numberOfFAQ {
  font-family: BiroScriptPlus-Bold;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.textQuastion {
  font-family: RightGrotesk-CompactBlack;
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  width: 169px;
}

.textAnswer {
  color: var(--white-color);
  font-family: MessinaSansMono-Book;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  width: 169px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
