.COLLECTION {
  font-family: RightGrotesk-CompactBlack;
  font-size: 44px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;
}

.sliderContainer {
  position: relative;

  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  width: 216px;
  -webkit-tap-highlight-color: transparent;
}

.divSlaider {
  position: relative;
  height: 242px;
  background-color: transparent;
  border-radius: 12px;
}

.buttonNextPrev {
  color: var(--white-color);
  font-family: BiroScriptPlus-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.divSlaider {
  height: 256px;
}
.imageCollection {
  width: 216px;
  height: 256px;
}

@media screen and (min-width: 768px) {
  .COLLECTION {
    font-family: RightGrotesk-CompactBlack;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    padding-bottom: 40px;
  }
  .sliderContainer {
    width: 593px;
    height: 336px;
  }

  .imageCollection {
    width: 284px;
    height: 336px;
  }
  .divSlaider {
    width: 308px;
    height: 336px;
  }

  .buttonNextPrev {
    line-height: 30px;
  }
  .artPart{
    height: 510px;
  }
}

@media screen and (min-width: 1280px) {
  .COLLECTION {
    font-family: RightGrotesk-CompactBlack;
    font-size: 160x;
    font-weight: 900;
    line-height: 160x;
    padding-bottom: 80px;
  }
  .sliderContainer {
    width: 1030px;
    height: 280px;
  }

  .imageCollection {
    width: 240px;
    height: 280px;
  }
  .divSlaider {
    width: 266px;
    height: 280px
  }

  .artPart{
    height: 550px;
  }
}
